@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #f2f2f2;
    --gray: #797d7f;
    --white: #fff;
    --black: #000;
    --blue: #5c87fe;
    --blue-light: #5b9dff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



img {
    max-width: 100%;
    object-fit: fill;
}

button {
    border: none;
    cursor: pointer;
}

i#icon-back {
    transform: rotate(180deg);
}

#player {
    height: 100%;
    width: 100%;
    display: none;
}

#player iframe {
    width: 100%;
    height: 100%;
}

.main {
    background-color: var(--background);
    position: relative;
    width: 100%;
}
.round {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 6px solid var(--blue);
    border-left: 6px solid var(--blue);
    animation: 1.2s infinite rotateMe;
    animation-delay: 0.2s;
    margin: calc(50vh - 2rem) calc(50vw - 2rem);
}

.round:after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 0.4rem;
    top: 0.4rem;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 5px solid var(--blue-light);
    border-left: 5px solid var(--blue-light);
    animation: 1.2s infinite rotateMe;
    animation-delay: 0.1s;
}

@keyframes rotateMe {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.main__search {
    position: absolute;
    max-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.5s ease;

}

.main__history {
    background-color: var(--background);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
}
.history__content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: .8rem 1rem;
    gap: 1rem;
}
.history__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}

.history__card{
    min-width: 100%;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
        8px 8px 20px #0001, 5px 5px 6px 0px #0001;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
.history__card--img{
    width: 25%;
    height: 80px;
}
.history__card--img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.history__card--info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}
.history__card--btn{
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--blue);
    font-weight: 600;
    font-size: 1.5rem;
}


.main__player {
    background-color: var(--background);
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.main__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    padding: .5em;
    font-weight: 600;
    font-size: 1.2em;
    color: #a1a1a1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main__logo img {
    margin-right: .5em;
}

.search__container {
    min-height: 50px;
    max-width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0 4px;
    user-select: none;
    margin: .8rem auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
        8px 8px 20px #0001, 5px 5px 6px 0px #0001;
}

.search__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: var(--gray);
}

.search__input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input>input:focus,
input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: #00000000;

}

.search__btn {
    border: none;
    color: var(--gray);
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #00000000;
    cursor: pointer;
}

.search__btn:hover {
    color: #586906ed;
}

.result__container {
    max-width: 90%;
    margin: .8rem auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.result__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    text-transform: uppercase;
}

.result__tracks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tracks {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: auto;
}

.card__track {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 47.5% !important;
    border-radius: 5px;
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
        8px 8px 20px #0001, 5px 5px 6px 0px #0001;
}

.card__track--img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card__track--btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--blue);
    font-size: 1.2rem;
    background-color: var(--background);
    border: none;
    outline: none;
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
        8px 8px 20px #0001, 5px 5px 6px 0px #0001;
    visibility: hidden;
}

.card__track--description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: .5rem;
    border-radius: 5px;
}

.description__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    font-weight: 500;
    color: var(--gray);
    text-transform: uppercase;
}

.description__artist {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    font-weight: 400;
    color: var(--gray);
    text-transform: uppercase;
}

.card__track:hover .card__track--btn {
    visibility: visible;
}

.card__small {
    width: 47.5% !important;
}

.card__medium {
    width: 31.666% !important;
}

.card__large {
    width: 23.75% !important;
}

.player {
    width: 100%;
    min-height: 90vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player__controls {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.player__btn {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
        8px 8px 20px #0001, 5px 5px 6px 0px #0001;
    color: var(--gray);
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.player__btn i {
    transition: all 0.5s ease;
}

.player__btn:active {
    box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9,
        inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}

.player__btn--small {
    min-width: 50px;
    min-height: 50px;
}

.player__title {
    font-weight: 600;
    font-size: 0.8em;
    color: #a1a1a1;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.player__album {
    width: 150px;
}

.player__img {
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
        -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}

.player__artist {
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0.5;
    margin: 20px 0px 0px 0px;
}

.player__song {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    opacity: 0.5;
    margin: 0;
}

.player__level {
    width: 80%;
    -webkit-appearance: none;
    outline: none;
    border: none;
    padding: 0;
    margin-top: 40px;
}

.player__level::-webkit-slider-runnable-track {
    background-color: #e0e0e0;
    height: 6px;
    border-radius: 3px;
}

.player__level::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    background-color: #5c87fe;
    height: 18px;
    width: 18px;
    margin-top: -5px;
}

.audio-duration {
    margin-top: -30px;
    display: flex;
    width: 78%;
    font-size: 10px;
    font-weight: 600;
    color: #a1a1a1;
    letter-spacing: 1px;
}

.start {
    flex: 1;
}

.player__btn--medium {
    min-height: 70px;
    min-width: 70px;
}


/* * player volume */
.player__volume {
    width: 80%;
    height: 2.875em;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.player__volume .player__volume--btn {
    width: 2.875em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: none;
    border: none;
}

.player__volume .player__volume--btn i {
    font-size: 1.5em;
    color: var(--gray);
}

.player__volume .player__volume--btn:hover i {
    color: var(--black);
}

.player__volume .player__volume--bar {
    width: 100%;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: none;
    border: none;
}

.progress__bar {
    width: 100%;
    height: 100%;
    position: relative;
}

.progress__bar input {
    width: 100%;
    height: 100%;
}

/* * Fin player volume */

.controls__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: .5em auto;
}

.controls__menu--item {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 .5em;
}


.blue {
    background-color: #5c87fe;
    color: #fff;
}

.hide {
    display: none;
}

.move__left {
    transform: translateX(-100%);
}

.move__right {
    transform: translateX(100%);
}

.move__top {
    transform: translateY(-100%);
}

.move__bottom {
    transform: translateY(100%);
}

.d_none {
    display: none;
}